#tools {
    margin-top: 20px;
}

.btn {
    margin: 20px 5px;
    color: white;
    background-color: black;
    font-size: larger;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: grey;
    transform: scale(1.05);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
